
@import url(http://fonts.googleapis.com/css?family=Lobster+Two);

h2{
  border: groove; 
  border-width: 5px;
  padding: 10px;
  color: black;
  background-color: rgba(255, 44, 172, .5)  

}
#slogan {
  font-style: italic; 
  font: helvetica;  
  font-weight: bold;
}

body {
  background: rgb(150, 255, 212);
  font-family: 'Lobster Two';
  text-align: center;    
}




